.containerFluid {
    position: relative;
    height: 100vh;
    background-color:#715E7A;
    padding: 1em;
    overflow-y: auto;
}

.containerFluid .row > div {
    /* border: 1px solid black; */
    height: 95vh;
    padding: 0.5em;
}


@media only screen and (max-width: 760px) {
    .container-flex {
        padding: 0.5em;
       
    }
  }

