.container-fluid {
    overflow: hidden;
}

.container-flex {
   display: flex;
   background-color: #715E7A;
   justify-content: space-between;
   height: 100vh;
   flex-wrap: wrap;
   padding: 1em 4em 1em 4em;
}
.flex-item {
    display: inline-block;
    border: 1px solid black;
    height: 40%;
    margin: 0.5em;
    font-family: raleway-bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.flex-item:first-child {
    flex: 1 1 100%;
}

.flex-item:not(:first-child) {
    flex: 1 1 auto;
}

@media only screen and (max-width: 760px) {
    .container-flex {
        padding: 0.5em;
        overflow: auto;
    }
  }

