.containerFluid {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(180deg, #706897, #719fb0);
    padding: 1em;
    overflow-y: auto;
}

.containerFluid .row > div {
    /* border: 1px solid black; */
    height: 95vh;
    padding: 0.5em;
}

.searchBoxMobileContainer {
   position: absolute;
   width: 100%;
   top: -0.25em;
  
   border: 1px solid black !important;
   
}
.searchBoxMobile {

    position: absolute !important;
    bottom: 1em;

}


@media only screen and (max-width: 760px) {
    .container-flex {
        padding: 0.5em;
       
    }
  }

