.navigation-container {
    width: 100%;
    height: 50%;
    /* flex parent properties */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border-radius:15px;
    background-color: #9088D4;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   
}

.nav-item {
    position: relative;
    flex: 1 1 auto;
    padding: 0.25em;
    /* make each flex */
    display: flex;
    flex-direction: row;
 
}

.nav-icon {
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    align-self: flex-end;
}












.link {
    color: black;
    font-family: raleway-bold;
    transition: 0.25s;  
    display: flex row;
}
.link:hover {
    text-decoration: none;
    color: #EBCFC4;
}
.link > span:hover {
    transition: 0.25s;
    color: #EBCFC4;
    font-size: 75%;
}


.link-active{
    font-weight: bold;
    color:#EBCFC4;
}

.navigation-item span {
    display: inline-block;
}

@media only screen and (max-width: 1275px) {
    /* make icons center */
   .link {
       text-align: center;
   }
   .link > span > h2 {
        display: none !important;
   }
}
