/* just for the edit buttons (icons) */


.edit-icon {
    color: black;
    cursor: pointer;
    float: right;
    transition: color 0.5s;
}


.edit-icon:hover {
    color: #EBCFC4;
}

.iup {
   margin-top: 25% !important;
}

.editProfilePicture {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top:1em;

}
