.tilesContainer{
    /* background-color: rgb(224, 253, 212); */
    background-color: #9088D4;
    width:50%;
    font-size: 1em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid black;
    border-radius:15px;
    z-index: 3;
}
.tiles {
    color: black;
}


@media only screen and (max-width: 900px) {
    .tilesContainer{

        width: 90%;
    }

}

