.logbook-container
{
    width: 100%;
    height: 100%;
    /* flex parent properties */
    display: flex;
    flex-flow: row wrap;
   
  
}
.logbook-item {
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-block;
    /* border: 1px solid black; */
    background-color:#9088d4;
    margin: 0.25em;
    padding: 0.75em;
    font-family: raleway-bold;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;     
}

.logbook-item:first-child {
    flex: 1 1 auto;
    height: 50%;
    align-self: center;
}


.logbook-item:not(:first-child) {
    flex:1 1 75%;
    position: relative;
}

.logbook-item:first-child h4 {
    font-size:0.5em;
    padding: 1em;
    border-radius:24px;
    border: 1px solid black;
}


.log-food-container {
    width: 100%;
    height: 90%;
    border: 1px solid black;
    /* make container a flex */
    flex-flow: row wrap;
}

.myDate, h3 {
    color: #EBCFC4;
}

.tracking-items-container {
    width: 100%;
    display: flex;
    flex-direction: coulmn;
    flex-wrap: wrap;
    /* looks */
}

.tracking-item {
    /* border: 1px solid black; */
    background-color: #706897;
    border-radius: 15px;
    padding: 0.25em;
    width: 100%;
    height: 100%;
    margin: 0.25em;
}

.tracking-item span, .tracking-item h2{
    font-size:0.5em;
}

@media only screen and (max-width: 1584px){
    .logbook-container
    {
        flex-flow: column nowrap;
        font-size: 0.5em;
    }
    .logbook-container h3, .logbook-container h2
    {
        flex-flow: column nowrap;
        font-size: 1em;
    }

    .logbook-item:first-child {
        flex: 1 1 auto;
        height: 25%;
        align-self: center;
    }


}
